
.products{
    display : flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;


}

#corpus p
{
    font-family: Calibri, serif;
    font-size: 20px;
    text-align: center;
}

.product{
    background: #888889;
    padding: 5px;
    width: 400px;
    height: 300px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-radius: 25% 10%;;

}

.product img
{
    float:left;
    margin: 10px;
    border: 3px solid #ffffff;
    max-width: 150px;
    max-height: 150px;
    border-radius: 30px;
}
.name{

}
.price{

}