
.products{
    display : flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;


}

#corpus p
{
    font-family: Calibri, serif;
    font-size: 30px;
    text-align: center;


}

.product{
    background: tomato;
    padding: 5px;
    width: 400px;
    height: 300px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.name{

}
.price{

}