
.products{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;


}

.product{
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.name{

}
.price{

}