.mainContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.itemContainer
{
    width: 50%;
    border: 2px solid #cdbeaa;
    border-radius: 15px;
    padding: 0.5vw;
    cursor: pointer;
}

.itemContainer h2
{
    color: #5f5f5f;
}

.itemContainer:hover
{
    background-color: #e6e6e6;
}

.itemContainer:hover h2
{
    text-decoration: underline grey;
}