#formulaire
{
    text-align: center;
}

#table
{
    display: flex;
    justify-content: center;
}

.label
{
    text-align: right;
}

td
{
    width: 15vw;
}

input
{
    width: 100%;
}

@media all and (max-width: 550px) {
    td
    {
        width: 50vw;
    }
}