.table{
	border: 2px black solid;	
}


.img{
	width: 60px;
	height: 60px;
}

	

.rowtitle{
	display: flex;
	justify-content: space-around;

	
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-around;

}

